/***** Global settings *****/
:root {
  --color-primary: #33292a;
  --color-primary2: #644b4f;
  --color-secundary: #333333;
  --color-secundary2: #f2f2f2;
  --color-href: #efa69d;
  --color-href2: #e9877b;
  --color-shadow: #999;
  --color-shadow2: #666;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "'Roboto Slab', serif";
  line-height: 1.2;
  min-height: 100vh;
}

h3 {
  font-size: 65px;
  font-weight: 400;
  margin: auto 0;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 13px;
}

p {
  font-size: 20px;
  margin: 20px 0px;
  text-align: justify;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: 80px 20px;
  max-width: 1140px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.text-color {
  color: var(--color-secundary2);
}

.box-area {
  flex: 2 2 45%;
  margin: 20px;
  border-radius: 5px;
}

/***** section-header *****/
.section-header {
  /*obrazek se nezmenšuje pod 1067px. Když odstraním výšku box se zuží a nepřízpůsobí se velikosti obrázku v pozadí*/
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgba(14, 13, 13, 0.3)
    ),
    url(images/Main/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section-header img {
  border-radius: 0;
}
.mobile-nav-icon {
  /* float: right; */
  width: 50px;
  height: 45px;
  filter: invert(100%);
  margin: 3px;
  display: none;
}

.nav-background {
  width: 100%;
  height: 50px;
  background-color: var(--color-secundary2);
  z-index: 50;
  position: fixed;
  opacity: 0.8;
}
.nav-bar {
  width: 1140px;
  margin: 0 auto;
  height: 50px;
}
nav ul {
  position: fixed;
  z-index: 100;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  /* border: 1px solid white; */
  padding: 10px 15px;
  text-align: center;
}

nav ul li a:link,
nav ul li a:visited {
  color: #000;
  font-size: 25px;
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-family: 300;
}

nav ul li a:hover,
nav ul li a:active {
  transition: text-shadow 0.3s;
  text-shadow: 0px 0px 2px var(--color-secundary);
}
nav ul li a:hover span {
  color: orangered;
  font-weight: 800;
  transition: color 0.3 font-weight 0.3;
}

.box .headline {
  /* width: 1100px; */
  height: min-content;
}

h1 {
  text-align: right;
  color: var(--color-secundary2);
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  bottom: -10px;
  right: 0;
}

/***** section-about-us *****/
.box.about-us {
  flex-wrap: nowrap;
  margin: 80px 0;
}

/***** section-what-we-do  *****/
.section-what-we-do {
  background-color: var(--color-primary);
}

.text-area {
  text-align: center;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 60px;
}

.icon-box {
  margin: 5px;
}

.icon {
  filter: invert(100%);
  width: 60px;
  margin: auto;
}

/***** section-trips-galery *****/
.box.trips {
  align-content: space-around;
}

.photo-box {
  max-width: 371px;
  height: auto;
  flex: 1 0 32%;
  margin: 4px 4px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--color-shadow);
  overflow: hidden;
}

.photo:hover {
  transform: scale(1);
  transition: transform 0.4s;
}

.photo {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  overflow: hidden;
}

.middle {
  max-width: 371px;
  margin: 4px 4px;
  background-color: var(--color-secundary2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex: 1 3 32%;
}

/***** section-contact-us *****/
.section-contact-us {
  background-color: var(--color-primary2);
}

.box.contact {
  flex-wrap: nowrap;
  margin: 80px 0;
}

.box-area.shrinked {
  flex: 1 1 38%;
}

.box-area.extended {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: var(--color-secundary2);
  border-radius: 5px;
  border: 0;
  width: 170px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 80px;
  text-decoration: none;
  outline: none;
  box-shadow: 0 9px var(--color-shadow);
  font-size: 19px;
  font-family: inherit;
}

/* .button:hover {
  font-size: 17px;
  font-weight: 500;
  transition: 0.1s;
} */

.button:active {
  box-shadow: 0 5px var(--color-shadow2);
  transform: translateY(4px);
}

/***** section-customer-reviews *****/
.center {
  text-align: center;
}

.box.reviews {
  justify-content: space-around;
  margin: 80px 0;
}

.wrapper-text {
  max-width: 500px;
  margin: 0 20px;
}

.wrapper-img {
  display: flex;
  flex: wrap;
  justify-content: space-around;
}

.review-box {
  max-width: 400px;
  padding: 20px;
  margin: 40px 20px;
  border: 1px solid var(--color-shadow);
  border-radius: 5px;
  background-color: linear-gradient var(--color-secundary2);
  box-shadow: 5px 5px 5px var(--color-shadow);
}

.reviewer {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  object-fit: cover;
}

/***** section-galery-picture *****/
.section-galery-picture {
  background-color: var(--color-secundary2);
}

.box.galery {
  margin: 0;
  max-width: none;
}

.galery-picture {
  object-fit: contain;
  border-radius: 0;
  flex: 1 0 50%;
  cursor: pointer;
}

/***** Footer *****/
footer {
  background-color: var(--color-secundary);
}

.box.footer {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.box.footer .link {
  font-size: 20px;
}

.box.footer p {
  margin-top: 20px;
  text-align: center;
  color: var(--color-secundary2);
}

.link:visited,
.link:link {
  background-color: var(--color-secundary2);
  text-decoration: none;
  color: var(--color-secundary);
  border-radius: 15px;
  padding: 5px 20px;
  font-weight: 800;
  font-family: inherit;
}

.link:hover,
.link:active {
  color: var(--color-secundary2);
  background-color: var(--color-secundary);
  border: 0.5px solid var(--color-secundary2);
}

/*Other divices layout*/
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 60px;
  }

  h1 {
    font-size: 80px;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  p,
  .link {
    font-size: 20px;
  }

  .box.about-us,
  .box.contact,
  .wrapper-img {
    flex-wrap: wrap;
  }

  .photo-box,
  .galery-picture,
  .middle {
    flex: 1 1 100%;
    max-width: none;
    cursor: inherit;
  }

  .icon {
    width: 40px;
  }

  .button {
    width: 150px;
    height: 50px;
    font-size: 17px;
    box-shadow: none;
    cursor: inherit;
    align-self: center;
    border: 0;
  }

  .button:hover, /*Nepřišel jsem na to jak vypnout tyto efekty. Zkoušel jsem display:none ale tlačítko nefungovalo správně  (problíkávalo). Pokud existuje nějaká jednoduší varianta než to vypisovat znovu */
  .button:active,
  .photo:hover,
  .link:hover,
  nav ul li a:hover,
  nav ul li a:hover span {
    transition: none;
    transform: none;
    box-shadow: none;
    text-shadow: none;
    color: initial;
    font-weight: inherit;
  }
  */ */ .link:hover {
    border: none;
    background-color: var(--color-secundary2);
    font-weight: 800;
    color: var(--color-secundary);
  }

  .photo {
    transform: scale(1);
  }

  .review-box {
    max-width: 400px;
  }

  .reviewer {
    width: 130px;
    height: 130px;
  }

  .wrapper-text {
    max-width: none;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
  }

  .mobile-nav-back {
    height: 250px;
    position: fixed;
    width: 100%;
    background-color: var(--color-secundary2);
    border-bottom: 2px solid #000;
    display: none;
  }

  .mobile-nav-icon {
    display: inline-block;
    position: fixed;
    right: 2%;
  }
}

@media only screen and (max-width: 400px) {
  .icon-box {
    flex: 1 1 35%;
  }

  h1 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  p,
  .link {
    font-size: 15px;
  }
}
